// .container {
//   display: flex;
//   align-items: center;
// }

// .imageside {
//   max-width: 10%;
//   // height: auto;
//   margin-right: 20px;
// }


// .n-format {
//   flex: 1;
//   display: block;
//   position: relative;
 
// }


.recipe-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 110vh; 
  margin-top: -50px;
  // transition: 500ms ease 0s all;
  
    

}

.container{
  // transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  text-align: justify;
  align-items: center;
  width:100px;
  flex-direction: row;
  -webkit-tap-highlight-color: transparent; 
  //  padding-top: 70px;
  // height:200px;

  }

  // .container img, .container p {
  //   flex-grow: 0;
  // }

  .container img {
    width:250px;
    height:220px;
    margin-left: -150px;
    

  }

  img:hover {

    box-shadow: 0 0 5px 3px rgba(71, 0, 186, 0.5);
    opacity: 0.7;

  }



  .container, p {
    width:250px;
    height:200px;
    
  }

  div.n-format p{
    // font-family: "Poppins", sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue"
    sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    padding-left: 8%;
    
}
  
  div.n-format {
  display: block;
  position: relative;
}

div.n-format h4{
  font-size: 8px;
  color:beige;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 600px) {
  .text {
    font-size: 16px;
  }
} 


@media screen and (max-width: 480px) {
  .text {
    font-size: small;
  }
  .container {flex-direction:column;
  align-items: center;
  text-align: center;
  text-align: justify;
   }
   .container img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
   }
  .imageside{
     position:relative;
    left: 0px;
    top: 0px;
  }
}




.saffron-text {
  font-family: 'Cormorant', serif;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  
  // Adding these styles will center your text
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
    min-height: 20rem;
    width: 30%;
    padding: 90px;
  transition: all 0.3s ease;
}

.item img {
  width: 35vh;
  height: auto;
    border-radius: 2rem;
    border-style: double;
    border-color: rgba(240, 248, 255, 0.207);
    box-shadow: 0 0 10px #ffffffb2, 0 0 15px #ffffff53, 0 0 20px #ffffff78, 0 0 25px #ffffff82, 0 0 30px #ffffff84;
}



.inner-carousel {
    display:flex;
  cursor: grab;
}

.carousel {
    cursor: grab;
//*    overflow: hidden; *//
    transition: 0.3s all ease-in-out;

}
  
  html {
    background: rgba(66, 34, 0, 0.636);
    overflow-y: scroll;
    scroll-behavior: smooth;
    
  }

// Styling for each item
.item {
  border: none; // No border around the item
  margin-bottom: 30px; // Space below each item
}

// Styling for the wrapper around the image, title, and description
.item .item-wrap {
  display: block; // Display as a block element
  position: relative; // Positioning context for absolute positioned children
  
}

.item .item-wrap:after {
  position: absolute;
  content: "";
  top:0rem;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  border-radius: 2rem;
  mix-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.326);
}

// Styling for the image
.item .item-wrap img {
  transition: 0.3s transform ease; // Smooth transition for transformations
  transform: scale(1); // Start at normal size
}

// Common styling for the title and description
.item .item-wrap .title, .item .item-wrap .description {
  position: absolute; // Positioned relative to the item-wrap
  top: 50%; // Center vertically
  width: 100%; // Full width of the item-wrap
  text-align: center; // Center the text horizontally
  z-index: 3; // Stack order, higher than the image and overlay
  transform: translateY(-50%); // Shift up by half its own height to center vertically
  color: #fff; // White text
  opacity: 0; // Fully transparent by default
  margin-top: 20px; // Space above the text
  transition: 0.3s all ease; // Smooth transition for all properties
}

// Styling for the title
.item .item-wrap .title {
  font-size: 20px; // Font size of the title
  margin-bottom: 0; // No space below the title
}



// Styling for the item-wrap on hover
.item .item-wrap:hover {
  text-decoration: none; // No text decoration on hover
}

// Styling for the image on hover
.item .item-wrap:hover img {
  transform: scale(1.05); // Scale up the image slightly
}

// Styling for the overlay on hover
.item .item-wrap:hover:after {
  opacity: 1; // Fully opaque
  visibility: visible; // Visible
}

// Styling for the title and description on hover
.item .item-wrap:hover .title, .item .item-wrap:hover .description {
  margin-top: 0px; // Remove the space above the text
  opacity: 1; // Fully opaque
  visibility: visible; // Visible
}